<% include ../partials/boilerplate %>

<div class='todoindex'>
  <h2><a href='/todos/add'>Add New Todo!</a></h2>

  <div class='todo-container'>
    <% for (let todo of data) { %>
      <div class='todo'>
        <h3><%= todo.title %></h3>
        <h4><%= todo.category %></h4>
        <h5><%= todo.status %></h5>
        <div>
          <a class='linkto' href='/todos/<%= todo.id %>'>Info</a>
          <a class='linkto' href='/todos/<%= todo.id %>/edit'>Edit</a>
          <form class='linkto' method='POST' action='/todos/<%= todo.id %>?_method=DELETE'>
            <input type='submit' value='Delete' />
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% include ../partials/end %>
